<a href="https://colab.research.google.com/github/csepulvedarmz/Curso-Python/blob/main/Ch02_Variables_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Autor: Emiliano Sepulveda

Curso: Python de básico a intermedio

11/07/2023

---

# 2.1 Tipos de Datos

In [ ]:
type(100)

int

In [ ]:
type(-9)

int

In [ ]:
type(1000.9874)

float

In [ ]:
type("A")

str

In [ ]:
type('A')

str

In [ ]:
print("hello")

hello

In [ ]:
print(type("hello"))

<class 'str'>

In [ ]:
type("17")

str

In [ ]:
type("""Triple double quote data""")

str

In [ ]:
print(""'Triple double quote data'"")

Triple double quote data

In [ ]:
a = "hello"

In [ ]:
a

'hello'

## 2.2 Conversión de tipos

In [ ]:
data ="hello" # no se puede convertir un cadena en flotante o en entero

In [ ]:
type(data)

str

In [ ]:
data = '100'
type(data)

str

In [ ]:
num = int(data)
type(num)

int

In [ ]:
num

100

In [ ]:
price = float('500.99')
type(price)

float

In [ ]:
float('hi')

ValueError: ignored

In [ ]:
int('hola')

ValueError: ignored

In [ ]:
num = 99.99
striNum = str(num)
print(striNum)
type(striNum)

99.99

str

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

## 2.3 Declaraciones
- Una declaración es una instrucción que el intérprete de Python puede ejecutar

- Hemos visto sentencias de asignación hasta ahora

- Luego exploraremos for, if, import, while y otras declaraciones

In [ ]:
1+2

3

In [ ]:
len('hello')

5

In [ ]:
print(2+3*4)

14

In [ ]:
print(''' "Oh no", ella exclama, "La ventana de Ben esta rota!" ''')

 "Oh no", ella exclama, "La ventana de Ben esta rota!"

# 2.4 Secuencias de escape
- algunas letras o secuencias de letras tienen un significado especial para Python
- Las comillas simples, dobles y triples simples o dobles representan datos de cadena
- utilice la barra invertida \\ para representar estas secuencias de escape, por ejemplo,
    - \\n - nueva línea
    - \\\\ - barra invertida
    - \\t - tabulador
    - \\r - retorno de carro
    - \\' - una frase
    - \\" - comillas dobles

In [ ]:
print('What\'s up \n Shaq O\'Neal?')

What's up
 Shaq O'Neal?

In [ ]:
print('Hello \t here...\n how are you?')

Hello 	 here...
 how are you?

In [ ]:
print('Hello \t here...\n how are you? \\\\')

Hello 	 here...
 how are you? \\

In [ ]:
print(r'Hello  here... how are you? \\')

Hello  here... how are you? \\

# 2.5 Variable
- las variables son identificadores que se utilizan para almacenar valores que luego pueden manipularse fácilmente
- las variables dan nombres a los datos para que los datos puedan ser fácilmente referenciados por sus nombres una y otra vez
- reglas y mejores prácticas para crear identificadores y nombres de variables:
    - no puede ser una palabra clave - ¿cuáles son las palabras clave integradas?
    - puede comenzar solo con letras del alfabeto o guión bajo (_)
    - no puede tener símbolos como $, %, &, espacio en blanco, etc.
    - no puede comenzar con un dígito, pero los dígitos se pueden usar en cualquier otra parte del nombre
    - use nombres camelCase o use _ for_multi_word_names
    - use nombres concisos pero significativos y sin ambigüedades para escribir menos y evitar errores tipográficos

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
# LAs variables deben estar definidas inicilamente o antes de ser usadas
print(x)

algun valor

In [ ]:
x = 'algun valor'
print(x)

algun valor

In [ ]:
var1 = -100
num = -99.99
name = 'John'
lName = 'Smith'
MI = 'A'
grade = 10.5
Name = 'Jake'
grade = 19.9
gradosCelsius ='32'
grados_celsius = 32

In [ ]:
type(gradosCelsius)

str

In [ ]:
type(grados_celsius)

int

In [ ]:
#Estructura dinámica
var = 100

In [ ]:
var ='hello'

In [ ]:
var = 99.89

In [ ]:
var

99.89

# 2.6 Computación: operadores y operandos
- **operadores** son fichas/símbolos especiales que representan cálculos como suma, multiplicación y división
- los valores que usa un operador se llaman **operandos**
- algunos operadores binarios que toman dos operandos
    - suma: 10 + 20
    - resta: 20 - 10
    - división verdadera: 10 / 3
    - multiplicación: 7 * 9
    - división entera: 10 // 3
    - operador resto o módulo: 10 % 2
    - potencia: 2 ** 3

Order of operations
- depends on the rules of precedence

**uses PEMDAS rule from high to low order**

1. Parenthesis
2. Exponentiation
3. Multiplication and Division (left to right)
4. Addition and Subtraction (left to right)

In [ ]:
print(2 * 3 ** 2)

18

In [ ]:
x = 1
y = 2
z = 3
ans = x+y-z*y**y
print(ans)

-9

# 2.7 Operations on strings

+  and  ∗  operators also work on strings

Chapter 08 covers more on string data type and operations

In [ ]:
fname = "John"
lname = "Smith"
fullName = fname +" "+ lname
print(fullName)

John Smith

In [ ]:
gene = "AGT"*10
print(gene)

AGTAGTAGTAGTAGTAGTAGTAGTAGTAGT

In [ ]:
name = input('What is your name? ')

What is your name? Jessica

In [ ]:
print('hello, ', name)

hello,  Jessica

In [ ]:
num = input('Introduce un número =>')
print('Tu número es: ', num)
print('El tipo del', num, '=', type(num))

Introduce un número =>89.96
Tu número es:  89.96
El tipo del 89.96 = <class 'str'>

In [ ]:
# str must be casted into int or float depending on the value required
num2 = float(num)
print('type of', num, '=', type(num2))

type of 89.96 = <class 'float'>

# Ejercicio 1

# Area y perímetro de un rectángulo

Escriba un script de python que calcule el área y el perímetro de un rectángulo

In [ ]:
# Demuestra la composición paso a paso
# Pasos del algoritmo
# 1. Obtenga la longitud y el ancho de un rectángulo
#     a. valores codificados O
#     b. solicitar al usuario que introduzca los valores de largo y ancho
#        i. convertir la longitud y el ancho en tipos de datos correctos
# 2. Encuentra el área = largo x ancho
# 3. Encuentra el perímetro = 2 (largo + ancho)
# 4. Mostrar resultados calculados

In [ ]:
x = input('Introduce un número =>')
x2 = float(x)

Introduce un número =>6.6

In [ ]:
y = float(input('Introduce un número =>'))

Introduce un número =>9.8

In [ ]:
Area = x2 * y2

print("El área es:",Area)

El área es: 16.5

In [ ]:
Perimetro = (2*x2) + (2*y2)

print("El perimetro es:",Perimetro)

El perimetro es: 18.2

In [ ]:
Perimetro = 2*(x2 +y2)

print("El perimetro es:",Perimetro)

El perimetro es: 18.2

2. área y circunferencia de un círculo
- escribir un script de python que calcule el área y la circunferencia de un círculo
- el área de un círculo se calcula usando la ecuación: $\pi r^{2}$
- el perímetro de un círculo se calcula usando la ecuación: $2 \pi r$
- puedes usar $\pi=3.14159$

In [17]:
r = float(input('Introduce el valor del radio =>'))
print("El area del circulo es igual a: ",3.14159*r**2)
print("El perimetro del circulo es igual a:",2*3.14159*r)

Introduce el valor del radio =>3
El area del circulo es igual a:  28.27431
El perimetro del circulo es igual a: 18.849539999999998